* {
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
	background: #F1F1F1;
	color: #c2c2c2;
	font-family: Arial, sans-serif;
	font-size: 14px;
}
main {
	width: 80%;
	margin: 0 auto;
}
.search-form {
	padding: 30px, 0;
	margin-top: 13px;
	margin-left: 15px;
}
.search-form #search{
	font-size: 7rem;
	font-weight: 700;
	width: 90%;
	background: #F1F1F1;
	border: none;
	color: #ec5a62;
}
.search-form #search::placeholder {
	color: #c2c2c2;	
}
.search-form #submit {
	margin: 0;
	margin-right: 20px;
	height: 80px;
	width: 80px;
	border: 0;
	background: url(../images/magnifier.svg);
}
.column {
	display: inline-block;
	width: 33%;
	margin-top: 5.6%;
}
.column h3 {
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 21px;
}
.columnPeople h3{
	margin-left: 11px;
}
.columnPopular h3 {
	margin-left: 21px;
}
.columnRecent h3 {
	margin-left: 31px;
}
.links {
	list-style: none;
}
.item {
	height: 77px;
	background-color: rgba(118,117,128,0.05);
	padding: 10px;
	border-radius: 5px;
}
.columnPeople .item {
	margin-left: 10px;
	margin-right: 25px;
	margin-bottom: 4px;
}
.columnPopular .item {
	margin-left: 20px;
	margin-right: 16px;
	margin-bottom: 4px;
}
.columnRecent .item {
	margin-left: 30px;
	margin-right: 7px;
	margin-bottom: 4px;
}
.item:hover {
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
}

.item a {
	color: #c2c2c2;
	text-decoration: none;
	font-weight: 700;
}

.item a:hover {
	color: #ec5a62;
	
}
.item .avatar {
	border-radius: 50%;
}
.item img {
	vertical-align: middle;
}
.item span {
	margin-left: 10px;
}